RewriteEngine On
RewriteRule ^trang-chu/?$ index.php
RewriteRule ^admincp/?$ admincp/index.php
#RewriteRule ^lien-he/?$ index.php?com=contact
RewriteRule ^dia-danh/?$ index.php?com=location [QSA]
RewriteRule ^di-dau/?$ index.php?com=position&group=di-dau [QSA]
RewriteRule ^an-uong/?$ index.php?com=foodmenu&group=an-gi [QSA]
RewriteRule ^am-thuc/?$ index.php?com=foodmenu&group=an-gi [QSA]
RewriteRule ^an-gi/?$ index.php?com=foodmenu&group=an-gi [QSA]
RewriteRule ^qua-tang/?$ index.php?com=products [QSA]
RewriteRule ^tour/?$ index.php?com=tour [QSA]
RewriteRule ^login/?$ index.php?com=members&viewtype=login
RewriteRule ^tai-khoan/?$ index.php?com=account
RewriteRule ^tim-kiem/?$ index.php?com=search

RewriteRule ^where-go/?$ index.php?com=search&viewtype=list-where-go

#Location
RewriteRule ^([0-9a-zA-Z\-]+)/?$ index.php?com=location&viewtype=detail&code=$1
RewriteRule ^([0-9a-zA-Z\-]+)/lich-su/?$ index.php?com=location&viewtype=block_history&location_code=$1&category_code=lich-su [QSA]
RewriteRule ^([0-9a-zA-Z\-]+)/van-hoa/?$ index.php?com=location&viewtype=block_cultutar&location_code=$1&category_code=van-hoa [QSA]
RewriteRule ^([0-9a-zA-Z\-]+)/le-hoi/?$ index.php?com=location&viewtype=block_festival&location_code=$1&category_code=le-hoi [QSA]
RewriteRule ^([0-9a-zA-Z\-]+)/lich-su/([0-9a-zA-Z\-]+).html?$ index.php?com=location&viewtype=detail_history&location_code=$1&code=$2
RewriteRule ^([0-9a-zA-Z\-]+)/van-hoa/([0-9a-zA-Z\-]+).html?$ index.php?com=location&viewtype=detail_cultutar&location_code=$1&code=$2
RewriteRule ^([0-9a-zA-Z\-]+)/le-hoi/([0-9a-zA-Z\-]+).html?$ index.php?com=location&viewtype=detail_festival&location_code=$1&code=$2


RewriteRule ^([0-9a-zA-Z\-]+)/kham-pha/([0-9a-zA-Z\-]+)/dich-vu/([0-9a-zA-Z\-]+).html?$ index.php?com=contents&viewtype=detail&location_code=$1&code=$3

#web Position
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+).html?$ index.php?com=position&viewtype=detail&location_code=$1&position_code=$2


#web Gifl
RewriteRule ^qua-tang/chi-tiet/([0-9a-zA-Z\-]+).html?$ index.php?com=products&viewtype=detail&code=$1
RewriteRule ^qua-tang/([0-9a-zA-Z\-]+)/danh-sach?$ index.php?com=products&viewtype=block&code=$1

#web Positiongrouptype
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/?$ index.php?com=positiongrouptype&viewtype=block&code=$1&group=$2 [QSA]
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/danh-sach?$ index.php?com=positiongrouptype&viewtype=block&code=$1&group=$2&type=$3 [QSA]

#web content
RewriteRule ^tin-tuc?$ index.php?com=contents&viewtype=list
RewriteRule ^tin-tuc/chi-tiet/([0-9a-zA-Z\-]+).html?$ index.php?com=contents&viewtype=article&code=$1

#web tour
RewriteRule ^tour/chi-tiet/([0-9a-zA-Z\-]+).html?$ index.php?com=tour&viewtype=detail&code=$1
RewriteRule ^tour/bai-viet/([0-9a-zA-Z\-]+).html?$ index.php?com=tour&viewtype=article&code=$1
RewriteRule ^tour/([0-9a-zA-Z\-]+)/danh-sach?$ index.php?com=tour&viewtype=block&location_code=$1 [QSA]
RewriteRule ^tour/nhom-tour/([0-9a-zA-Z\-]+)?$ index.php?com=tour&viewtype=block&tourtype_code=$1 [QSA]

#Web Position service
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/dich-vu/([0-9a-zA-Z\-]+).html?$ index.php?com=positionservice&&viewtype=detail&location_code=$1&position_code=$2&service_code=$3

#Web Food
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/am-thuc/?$ index.php?com=foodmenu&viewtype=block&location_code=$1&position_code=$2 [QSA]
RewriteRule ^([0-9a-zA-Z\-]+)/([0-9a-zA-Z\-]+)/am-thuc/([0-9a-zA-Z\-]+).html?$ index.php?com=foodmenu&viewtype=detail&location_code=$1&position_code=$2&food_code=$3



#member position contact
RewriteRule ^member/([0-9a-zA-Z\-]+)/co-so/them-dich-vu/([0-9a-zA-Z\-]+)?$ index.php?com=positioncontact&viewtype=add_service&code=$1&positioncontact_id=$2
RewriteRule ^member/([0-9a-zA-Z\-]+)/co-so/cap-nhat-dich-vu/([0-9a-zA-Z\-]+)?$ index.php?com=positioncontact&viewtype=edit_service&code=$1&positioncontact_id=$2


#member tour
RewriteRule ^member/tour/them-moi/?$ index.php?com=tour&viewtype=add&id=$1
RewriteRule ^member/tour/([0-9a-zA-Z\-]+)/them-lich-trinh/ngay-([0-9a-zA-Z\-]+)?$ index.php?com=tourprogram&viewtype=add&code=$1&num_day=$2
RewriteRule ^member/tour/([0-9a-zA-Z\-]+)/them-dich-vu/?$ index.php?com=tourservices&viewtype=add&code=$1
RewriteRule ^member/tour/([0-9a-zA-Z\-]+)/them-lien-he/?$ index.php?com=tourperson&viewtype=add&code=$1
RewriteRule ^member/tour/([0-9a-zA-Z\-]+)/them-thu-vien-anh?$ index.php?com=tour&viewtype=add_gallery&code=$1

RewriteRule ^member/tour/([0-9a-zA-Z\-]+)/cap-nhat-lich-trinh/ngay-([0-9a-zA-Z\-]+)?$ index.php?com=tourprogram&viewtype=edit&code=$1&num_day=$2
RewriteRule ^member/tour/([0-9a-zA-Z\-]+)/cap-nhat-dich-vu/?$ index.php?com=tourservices&viewtype=edit&code=$1
RewriteRule ^member/tour/([0-9a-zA-Z\-]+)/cap-nhat-lien-he/?$ index.php?com=tourperson&viewtype=edit&code=$1
RewriteRule ^member/tour/([0-9a-zA-Z\-]+)/cap-nhat-thu-vien-anh?$ index.php?com=tour&viewtype=edit_gallery&code=$1

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>
## EXPIRES CACHING ##

<IfModule mod_headers.c>
<FilesMatch "\.(js|css|xml|gz|jpg|jpeg|png|gif|swf|svg|js|ico)$">
Header append Vary: Accept-Encoding
</FilesMatch>
</IfModule>

<ifModule mod_headers.c>
<filesMatch ".(css|jpg|jpeg|png|gif|swf|svg|js|ico)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
</ifModule>


<IfModule mod_deflate.c>
# Compress HTML, CSS, JavaScript, Text, XML and fonts
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/json
AddOutputFilterByType DEFLATE application/atom+xml
AddOutputFilterByType DEFLATE application/rdf+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-font-woff
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE font/opentype
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/truetype
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
</IfModule>


<Ifmodule mod_php5.c>
php_value upload_max_filesize 8M
php_value max_execution_time  30
php_value max_input_time  60
php_value memory_limit  64M
php_value post_max_size  16M
php_flag register_globals  off
php_flag display_errors  on
php_flag file_uploads  on
php_flag log_errors  on
php_flag output_buffering  off
php_flag register_argc_argv  on
php_flag magic_quotes_gpc   off
php_flag magic_quotes_runtime  off
php_flag magic_quotes_sybase  off
php_flag mysql.allow_persistent  off
php_flag register_long_arrays  on
php_flag allow_url_fopen  on
php_flag cgi.force_redirect  on
php_flag enable_dl  on
php_flag safe_mode off
</Ifmodule>

#Bảo vệ file
<files .htaccess>
order allow,deny
deny from all
</files>