


html.sb-active #sb-site, .sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
    cursor: pointer;
}

/* Fixed position examples */
#sb-site.top-padding {
    padding-top: 50px;
}

#fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: red;
    z-index: 4;
}

#fixed-top span.sb-toggle-left {
    float: left;
    color: white;
    padding: 10px;
}

#fixed-top span.sb-toggle-right {
    float: right;
    color: white;
    padding: 10px;
}




/* huandx css menu-left */


.user-mn ul,
.mn ul{
    padding: 0px;
    margin: 0px;
}
.mn a,
.content-mn a{
    color: #262626;
    display: block;
}
.content-mn h3{
    padding-left: 25px;
}
.user-mn a{
    display: block;
    padding-left: 30px;
}
.par-item a{
    margin-left: 0px;
    margin-top: 0px;
}

.bg-search{
    background-color: #357b07;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.number-phone{
    /*text-align: center;*/
    font-size: 20px;
    clear: both;

    list-style: none;
}
.account-mn .number-phone a{
    color: #400290;
}
.content-mn ul{
    padding: 0px;
    padding: 0px;
}

.mn li:last-child a{
    border-bottom: none;
}
.user-mn a{
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
}

.frm-mn{
    color: #fff;

}
.frm-mn{
    margin:0px 12px;
    position: relative;

    /*overflow: hidden;*/

}
.input-search{
    padding-right: 56px;
}
.frm-mn input[type="text"]{
    background-color: #fff;
    border: 0px;
    border-radius: 15px;
    height: 30px;
    color: #232323;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 999;
    width: 100%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    overflow: hidden;
}
.content-mn .btn-sub{
    position: absolute;
    right: 0px;
    top: 0px;
    /*    border: 1px solid #451e73;*/
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #fff !important;
    color: #232323;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    padding-right: 12px;
    border: 0px;
}
.menu{
    padding-left: 20px;
    padding-right: 20px;
}

.menu li{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
}
.menu ul ul{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 8px;
}
.menu ul ul li{
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}
.menu ul li.message a{
   color: #3c9610;
    font-weight: bold;
}
.inner-wrap{
    background-color: #fff;
}
.inner-wrap .box-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #333;
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
